<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkZ5zR1Vsp9NofLkCFJxPsa-3x0qU7x7s</string>
	<key>GCM_SENDER_ID</key>
	<string>948388890570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myelenco</string>
	<key>PROJECT_ID</key>
	<string>trabalho-mobile-3</string>
	<key>STORAGE_BUCKET</key>
	<string>trabalho-mobile-3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948388890570:ios:9a08fc3e9808db69a6f133</string>
</dict>
</plist>